/.phpunit.cache
build/report.junit.xml
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
composer.lock
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed


demo/.phpunit.cache
demo/node_modules
demo/public/build
demo/public/hot
demo/public/storage
demo/storage/*.key
demo/storage/pail
demo/vendor
demo/.env
demo/.env.backup
demo/.env.production
demo/.phpactor.json
demo/.phpunit.result.cache
demo/Homestead.json
demo/Homestead.yaml
demo/npm-debug.log
demo/yarn-error.log
demo/auth.json
demo/.fleet
demo/.idea
demo/.nova
demo/.vscode
demo/.zed
