includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: trait.unused
    checkOctaneCompatibility: true
    checkModelProperties: true
